<p>list-items works! {{itemservice.collection.length}} items</p>
<div *ngFor="let item of itemservice.collection; index as i">
  <app-item [item]='item'></app-item>
</div>
<ng-content></ng-content>
<ng-content select="[myAttrH1]"></ng-content>
<ng-content select="[myAttrH2]"></ng-content>

<!--<p>
  list-items works! {{itemservice.collection.length}} items
</p>
<div *ngIf="itemservice.collection.length"></div>
<ul>
  <li *ngFor="let item of itemservice.collection; index as i">{{i}} - {{item.name}}</li>
</ul>

<div [ngSwitch]="itemservice.collection.length">
  <p *ngSwitchCase="0">You have 0 cmd</p>
  <p *ngSwitchCase="1">You have 1 cmd</p>
  <p *ngSwitchCase="2">You have 2 cmd</p>
  <p *ngSwitchDefault>You have some cmd</p>
</div>

div [ngStyle]="{'color': color, 'font-size': size, 'font-weight': 'bold'}">
  style using nsStyle
</div>-->
